@media (max-width: 426px) {
    .imgForSigninpage {
        padding-top: 20px;
        width: 300px;
        height: 300px;
        margin: auto;
        object-fit: cover;
    }
    .SecondCol{
        padding-left: 20px;
        /* margin-left: 20px; */
    }
}
